.myCard {
  width: 18rem;
  height: 25rem;
  border: 20px solid #1ceb12;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
  font-weight: bold;
  font-size: 2rem;
  overflow: hidden;
  border-image: url(../../../../public/assets/img/pngwing.com.png) 500 round;
}
.myCardImage{
  position: relative;
}
.myCardImage:hover {
  cursor: pointer;
  scale: 1.1;
  transition: all 0.5s ease;
}
.myCardImage:hover > .myCardTitle {
  visibility: visible;
  transition: all 0.5s ease;
  bottom: 1rem;
}
.myCardTitle {
  width: 100%;
  visibility: hidden;
  background: rgb(12, 12, 12, 0.5);
  position: absolute;
  bottom: 0;
  padding: 1rem 1rem;
  color: whitesmoke;
  font-size: 1rem;
  font-weight: bold;
}