.wrapper {
  padding-top: 10px;
}

.hide {
  display: none ;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border: solid 1px black;
  border-radius: 5px;
  object-fit: cover;
  position: relative;
}

.img {
  position: absolute;
  width: 80px;
  height: 80px;
  border: solid 1px black;
  border-radius: 5px;
  object-fit: cover;
}

.input {
  width: 0;
  height: 0;
  opacity: 0;
}