* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  color: grey;
  text-shadow: whitesmoke 0px 0px 1px;
}
@media screen and (max-width: 680px) {
  h1{
    font-size: 1rem;
  }
  a {
    font-size: 0.6rem;
  }
}