* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to left top, #051937, #00446a, #00749c, #00a8c8, #12dfeb);
}
.hide {
  display: none ;
}
.img {
  position: absolute;
  width: 80px;
  height: 80px;
  border: solid 1px black;
  border-radius: 5px;
  object-fit: cover;
}